<section class = "card text-center text-white border-light">
    <div class="card-body">
        <form action="/sign-up" method="post">
            <div class="form-group">
                <label for="title">Title</label>
                    <input type="title" class="form-control" id="title" name="title" placeholder="Title">
                <label for="content">Create a post!</label>
                <textarea class="form-control" id="content" rows="3" name="content" placeholder="Write your post here!"></textarea>
                <a href="/" class="btn btn-primary">Submit</a>
            </div>
        </form>
    </div>
</section>