<section class = "card text-center text-white border-light">
        <div class="card-body">
        <h2> Oh dear... Seems like there's nothing here, try again :( </h2>
        <img src = "../images/404.gif">
        </div>
</section>