<h1>Sign In</h1>

<form action="/sign-in" method="post">
  <input type="text" name="trainer_name" id="trainer_name" placeholder="Trainer Name">
  <input type="password" name="password" id="password" placeholder="Password">
  <input type="submit" value="Go">
</form>