
<section id="center-sign-in" class = "card text-center text-white border-light">
    <div class="card-body">
      <form action="/sign-up" method="post">
        <h1>Sign Up</h1>
        <input type="text" name="first_name" id="first_name" placeholder="First Name"><br/>
        <input type="text" name="last_name" id="last_name" placeholder="Last Name"><br/>
        <input type="text" name="trainer_name" id="trainer_name" placeholder="Trainer Name"><br/>
        <input type="password" name="password" id="password" placeholder="Password"><br/>
        <input type="email" name="email" id="email" placeholder="E-mail"><br/>
        <input type="date" name="birthday" id="birthday" placeholder="Date of Birth"><br/>
        <input type="submit" value="Sign up">
      </form>
    </div>
</section>