<section class = "card text-center text-white border-light">
    <div class="card-body">
        <p>Hey <%=@user.trainer_name%>, welcome to the PokeJournal site! </p>
    </div>
</section>

<section class = "card text-center text-white border-light">
    <div class="card-body">
        <a href="/create-post" class="btn btn-primary">Create a new post!</a>
    </div>
</section>