<h1>Sign Up</h1>

<form action="/sign-up" method="post">
  <input type="text" name="first_name" id="first_name" placeholder="First Name">
  <input type="text" name="last_name" id="last_name" placeholder="Last Name">
  <input type="text" name="trainer_name" id="trainer_name" placeholder="Trainer Name">
  <input type="password" name="password" id="password" placeholder="Password">
  <input type="text" name="email" id="email" placeholder="E-mail">
  <input type="text" name="birthday" id="birthday" placeholder="Date of Birth">
  <input type="submit" value="Sign up">
</form>