<section id="pokemonCarousel" class="carousel slide carousel-fade" data-ride="carousel">
  <div class="carousel-inner">
  
  <!--Carousel item 1-->
    <div id="pokemon-one" class="carousel-item active">
      <img class="d-block w-70" src="../images/carousel-one.png" alt="First slide">
    </div>
    
    <!--Carousel item 2-->
    <div id="pokemon-two" class="carousel-item">
      <img class="d-block w-70" src="../images/carousel-two.jpg" alt="Second slide">
    </div>
    
    <!--Carousel item 3-->
    <div id="pokemon-three" class="carousel-item">
      <img class="d-block w-70" src="../images/carousel-three.jpg" alt="Third slide">
    </div>
  </div>

  <a class="carousel-control-prev" href="#pokemonCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#pokemonCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>

</section>

<section class = "card text-center">
    <div class="card-body">
        <h1 class="text-center card-title">Welcome to PokeJournal!</h1>
        <h3 class="text-center">A site where Pokemon fans can meet other fans.</h3>
        <a href="/sign-up" class="btn btn-primary">Sign up!</a>
    </div>
</section>